header {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 2px solid #dfdfdf;
}

footer {
    text-align: right;
    margin-top: 50px;
    border-top: 2px solid #dfdfdf;
}

header, footer {
    background-color: #f7f7f7;
    padding: 20px;
}

xmp {
    font-family: 'Source Code Pro', monospace;
    color: white;
    background-color: black;
    font-size: .8rem;
    border-style: inset;
}